@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
#root {
  @apply h-[100vh] text-white bg-black antialiased [font-family:Inter,system-ui,Avenir,Helvetica,Arial,sans-serif] text-[rgba(245,243,243,0.87)] dark:[color-scheme:dark] font-light;
  line-height: 1.5;
} */

a {
  @apply font-medium text-indigo-500 no-underline;
}
a:hover {
  @apply text-indigo-600;
}

h1 {
  @apply text-[3.2em] leading-[1.1];
}

button {
  @apply rounded-lg border border-transparent px-3 py-2 text-base font-medium bg-gray-900 cursor-pointer transition-colors duration-200;
}
button:hover {
  @apply border-indigo-500;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Modo claro */
@media (prefers-color-scheme: light) {
  :root {
    @apply text-[#213547];
  }
  a:hover {
    @apply text-indigo-400;
  }
}